.red {
    color: #c81912;
    color: #F64B3C;
    color: #856404;
    color: #ffe8a1;
}

.yellow {
    color: #d39e00;
    color: #d39e00;
    color: #856404;
    color: #ffe8a1;
    color: #ffeeba;
}    