/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000000;
  color: #fff;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000066e2, #000066df),
    url(../images/logo/logo-usnig.png) no-repeat center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Main container styling */
.container {
  text-align: center;
  padding: 50px;
  max-width: 600px;
  width: 100%;
}

/* Logo styling */
.icon {
  width: 250px;
  margin: auto;
}

/* Text */

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

p a {
  color: inherit;
  text-decoration: none;
}

.contact-info {
  margin-top: 30px;
}

.contact-info p {
  font-weight: 700;
}

/* Footer styling */
footer {
  margin-top: 30px;
  font-size: 0.875rem;
  color: #999;
}

/* Responsive design */
@media (max-width: 600px) {
  .wrapper {
    background-size: 90%;
  }
  .container {
    padding: 20px;
  }

  p {
    font-size: 0.8rem;
  }
}
