
.testimonial ul {
	 list-style-type: none;
}
.testimonial a, a:hover {
	 text-decoration: none;
}
 body .testimonial {
	 padding: 100px 0;
}
 body .testimonial .row .tabs {
	 all: unset;
	 margin-right: 50px;
	 display: flex;
	 flex-direction: column;
}
 body .testimonial .row .tabs li {
	 all: unset;
	 display: block;
	 position: relative;
}
 body .testimonial .row .tabs li.active::before {
	 position: absolute;
	 content: "";
	 width: 50px;
	 height: 50px;
	 background-color: #ffa200;
	 border-radius: 50%;
}
 body .testimonial .row .tabs li.active::after {
	 position: absolute;
	 content: "";
	 width: 30px;
	 height: 30px;
	 background-color: #ffa200;
	 border-radius: 50%;
}
 body .testimonial .row .tabs li:nth-child(1) {
	 align-self: flex-end;
}
 body .testimonial .row .tabs li:nth-child(1)::before {
	 left: 64%;
	 bottom: -50px;
}
 body .testimonial .row .tabs li:nth-child(1)::after {
	 left: 97%;
	 bottom: -81px;
}
 body .testimonial .row .tabs li:nth-child(1) figure img {
	 margin-left: auto;
}
 body .testimonial .row .tabs li:nth-child(2) {
	 align-self: flex-start;
}
 body .testimonial .row .tabs li:nth-child(2)::before {
	 right: -65px;
	 top: 50%;
}
 body .testimonial .row .tabs li:nth-child(2)::after {
	 bottom: 101px;
	 border-radius: 50%;
	 right: -120px;
}
 body .testimonial .row .tabs li:nth-child(2) figure img {
	 margin-right: auto;
	 max-width: 300px;
	 width: 100%;
	 margin-top: -50px;
}
 body .testimonial .row .tabs li:nth-child(3) {
	 align-self: flex-end;
}
 body .testimonial .row .tabs li:nth-child(3)::before {
	 right: -10px;
	 top: -66%;
}
 body .testimonial .row .tabs li:nth-child(3)::after {
	 top: -130px;
	 border-radius: 50%;
	 right: -46px;
}
 body .testimonial .row .tabs li:nth-child(3) figure img {
	 margin-left: auto;
	 margin-top: -50px;
}
 body .testimonial .row .tabs li:nth-child(3):focus {
	 border: 10px solid red;
}
 body .testimonial .row .tabs li figure {
	 position: relative;
}
 body .testimonial .row .tabs li figure img {
	 display: block;
}
 body .testimonial .row .tabs li figure::after {
	 content: "";
	 position: absolute;
	 top: 0;
	 z-index: -1;
	 width: 100%;
	 height: 100%;
	 border: 4px solid #f8cb7c;
	 border-radius: 50%;
	 -webkit-transform: scale(1);
	 -ms-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: 0.3s;
	 -o-transition: 0.3s;
	 transition: 0.3s;
}
 body .testimonial .row .tabs li figure:hover::after {
	 -webkit-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 transform: scale(1.1);
}
 body .testimonial .row .tabs.carousel-indicators li.active figure::after {
	 -webkit-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 transform: scale(1.1);
}
 body .testimonial .row .carousel > h3 {
	 font-size: 20px;
	 line-height: 1.45;
	 color: rgba(255, 255, 255, 0.5);
	 font-weight: 600;
	 margin-bottom: 0;
}
 body .testimonial .row .carousel h1 {
	 font-size: 40px;
	 line-height: 1.225;
	 margin-top: 23px;
	 font-weight: 700;
	 margin-bottom: 0;
}
 body .testimonial .row .carousel .carousel-indicators {
	 all: unset;
	 padding-top: 43px;
	 display: flex;
	 list-style: none;
}
 body .testimonial .row .carousel .carousel-indicators li {
	 background: #fff;
	 background-clip: padding-box;
	 height: 2px;
}
 body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
	 margin-top: 42px;
}
 body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
	 font-size: 18px;
	 line-height: 1.72222;
	 font-weight: 500;
	 color: rgba(255, 255, 255, 0.7);
}
 body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
	 color: #fff;
	 font-weight: 700;
	 margin-top: 37px;
	 font-size: 20px;
	 line-height: 1.45;
	 text-transform: uppercase;
}
 @media only screen and (max-width: 1200px) {
	 body .testimonial .row .tabs {
		 margin-right: 25px;
	}
}
 