// Default colors
$color-white: #fff;
$color-black: #000;
$color-black-sec: #252525;
$fontFamily: "Poppins", sans-serif;
$a-tags-no-hov: "a:link, a:visited, a:active";
$a-tags: "a, a:active, a:hover, a:visited";
$color-boxShadow: 0 0 5px #00000040;
$color-primary: #ffa600;
$color-secondary: #191d3b;
$color-link-bgd: #e9eaf8;
$color-btn: #707070;

// $color-primary-hover: #c5511b;
// $color-grey: #808080;
// $color-acc-hover: #ddd;
// $color-acc: #f4f4f4;

// Screen Sizes
$px-media-xsm: 567px !default;
$px-media-sm: 767px !default;
$px-media-md: 995px !default;
$px-media-lg: 1200px !default;
