@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Variables */
:root {
  --primary-color: #e67e22;
  --secondary-color: #d35400;
  --tertiary-color: #f39c12;
  --quaternary-color: #2c1810;
  --dark-divider: #434343;
  --white: #ffffff;
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  overflow-x: hidden;
  background: var(--white);
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
