@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Variables */
:root {
  --white: #ffffff;
  --black: #000000;
  --secondary-color: #000066;
  --primary-color: #01b323;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.7;
  background: #f4f4f4;
  overflow-x: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/* Full-screen overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Box */
.modal-overlay .modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
  color: var(--black);
}

/* Button Styles */
.modal-overlay button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay :is(h2, h3, p) {
  margin-bottom: 20px;
}

.modal-overlay #countdown {
  font-size: 2rem;
  display: block;
  margin-bottom: 20px;
}

.modal-overlay #claimOffer {
  color: white;
  background: gray;
}

.modal-overlay #closeModal {
  color: white;
  background: var(--primary-color);
}

/* Ticket */
/* Popup Background */
.popup {
  display: none;
}

.popup .popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup Content */
.popup .popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  width: 100%;
}

/* Close Button */
.popup .close-btn {
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.popup h2 {
  margin-bottom: 30px;
}

/* Ticket Links */
.popup .btn-sec {
  margin-top: 20px;
  color: var(--primary-color);
}

.popup .btn-sec:hover {
  color: var(--white);
}
