/* Variables */
:root {
  --white: #ffffff;
  --black: #000000;
  --primary-color: #000066;
  --primary-hover-color: #2626c840;
  --primary-color-light: #0a133a;
  --secondary-color: #ffa600;
  --radius: 4px;
}

/* :root {
    --primary-color: #000066;
    --secondary-color: #ffa600;
    --nav-bgd-color: #bcaeae73;
  --white: #ffffff;
  --light-gray: #f5f5f5;
  --dark-gray: #333333;
} */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img,
video,
iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

/* General Style */
body {
  font-family: "Nunito", sans-serif;
  color: var(--white);
  color: var(--black);
  font-size: 0.9375rem;
  /* background: #e6e6e6; */
  background: #ccc;
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.5;
}

section {
  scroll-margin-top: 50px;
}
