/* Big screen */
@media only screen and (max-width: 1200px) {
  /* Speakers */
  #speakers .speakers-wrapper .speaker-box {
    flex: 0 0 calc((100% - 60px) / 3);
  }
}

/* Tap Pro */
@media only screen and (max-width: 991px) {
  /* Key */
  #key .key-wrapper .key-box {
    flex: 0 0 calc((100% - 90px) / 4);
  }

  /* Speakers */
  #speakers .speakers-wrapper .speaker-box {
    flex: 0 0 calc((100% - 30px) / 2);
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  /* Nav */
  #navbar .nav-wrapper .nav-links {
    display: none;
  }

  #navbar .nav-wrapper .hamburger {
    display: flex;
  }

  #navbar .nav-wrapper .logo-name {
    display: none;
  }

  #navbar .nav-wrapper .button {
    display: none;
  }

  /* Hero */
  #hero .hero-container .hero-wrapper {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }

  #hero .hero-container .hero-wrapper .floating-loc,
  #hero .hero-container .hero-wrapper .floating-logo {
    position: static;
  }

  #hero .hero-container .hero-wrapper .floating-logo {
    display: none;
  }

  #hero .hero-container .hero-wrapper .hero-content {
    flex-direction: column;
    align-items: start;
  }

  #hero .hero-container .hero-wrapper .hero-content .left {
    width: 100%;
  }

  /* About */
  #about .about-wrapper {
    flex-direction: column;
  }

  /* What's new */
  #why-attend .why-attend-wrapper .why-attend-box {
    flex: 0 0 100%;
  }

  /* Expect */
  #expect .expect-wrapper .expect-box {
    flex: 0 0 100%;
  }

  /* Key */
  #key .key-wrapper .key-box {
    flex: 0 0 calc((100% - 60px) / 3);
  }

  /* Partner */
  #partner .partner-wrapper .partner-box {
    flex: 0 0 100%;
  }

  /* Testimonial */
  #testimonial .testimonial-subwrapper {
    flex-direction: column-reverse;
  }

  /* Speakers */
  #speakers .speakers-wrapper .speaker-box {
    flex: 0 0 100%;
  }
  #speakers .speakers-wrapper .speaker-box .speaker-image {
    height: auto;
    /* max-height: 300px; */
  }
  #speakers .speakers-wrapper .speaker-box .speaker-image img {
    aspect-ratio: 1/1;
  }
  /* Footer */
  #footer .footer-wrapper .top {
    flex-direction: column;
  }

  #footer .footer-wrapper .top .quick-links {
    display: block;
  }
}

/* Mobile */
@media only screen and (max-width: 568px) {
  /* Key */
  #key .key-wrapper .key-box {
    flex: 0 0 calc((100% - 30px) / 2);
  }

  /* Speakers */
  #speakers .speakers-wrapper .speaker-box {
    flex: 0 0 100%;
  }
}
