/* Pre loader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000060 url(../assets/section-bg/worldmap2.png) no-repeat
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ffcc00;
  border-top: 5px solid #000066;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Navbar */
#nav .nav-container {
  background: var(--primary-color);
}

#nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#nav .nav-wrapper .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

#nav .nav-wrapper .logo a img {
  width: 100px;
  object-fit: contain;
}

#nav .nav-wrapper .nav-links ul {
  display: flex;
  gap: 5px;
  align-items: center;
}

#nav .nav-wrapper .nav-links ul li {
  position: relative;
}

#nav .nav-wrapper .nav-links ul li::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background-color: var(--primary-light-color);
  height: 4px;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: none;
}

#nav .nav-wrapper .nav-links ul li:hover::after,
#nav .nav-wrapper .nav-links ul li.active::after {
  opacity: 1;
  visibility: visible;
}

#nav .nav-wrapper .nav-links ul li:hover a,
#nav .nav-wrapper .nav-links ul li.active a {
  color: var(--primary-light-color);
}

#nav .nav-wrapper .nav-links ul li a {
  padding: 15px 20px;
  transition: all 0.3s ease;
}

#nav .nav-wrapper .hamburger {
  display: none;
}

/* -- Hamburger Menu Styling -- */
#nav .nav-wrapper .hamburger {
  width: 28px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
}

#nav .nav-wrapper .hamburger span {
  display: block;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
  transition: all 0.3s ease;
}

#nav .nav-wrapper .hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

#nav .nav-wrapper .hamburger.open span:nth-child(2) {
  opacity: 0;
}

#nav .nav-wrapper .hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Aside */
#aside .aside-container {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background: var(--primary-color);
  color: var(--white);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 5px #00000040;
  transition: all 0.5s ease;
}

#aside .aside-container.open {
  left: 0;
  opacity: 1;
}

/* #aside .aside-container .close-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
} */

#aside .aside-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#aside .aside-wrapper .logo {
  width: 100px;
}

/* Hero Section */
#hero .hero-container {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to right, #061156da, #1021902f),
    url(../assets/section-bg/hero2.jpg) no-repeat center/cover; */
  background: linear-gradient(to right, #061156f3, #102190b8),
    url(../assets/highlights/1.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
}

#hero .hero-wrapper {
  width: 60%;
}

#hero .hero-wrapper .hero-header h5 {
  font-size: 18px;
  font-weight: 500;
}

#hero .hero-wrapper .hero-sub-header {
  padding-left: 32px;
  border-left: 6px solid var(--primary-light-color);
  margin: 20px 0 30px;
}

#hero .hero-wrapper .hero-sub-header h1 {
  font-size: clamp(36px, 3vw, 60px);
  font-weight: 700;
}

#hero .hero-wrapper .hero-description {
  margin-bottom: 40px;
}

#hero .hero-wrapper .hero-description p {
  font-weight: 300;
}

#hero .hero-wrapper .hero-details {
  padding: 32px;
  border-radius: 5px;
  background-color: #e5e5e533;
  display: flex;
  align-items: center;
}

#hero .hero-wrapper .hero-details .date-loc {
  flex: 3;
  text-align: center;
}

#hero .hero-wrapper .hero-details .date-loc h4 {
  font-size: 24px;
}

#hero .hero-wrapper .hero-details .button {
  flex: 2;
}

/* About */
#about .about-wrapper {
  display: flex;
  gap: 30px;
}

#about .about-wrapper .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#about .about-wrapper .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .about-wrapper .right .count-box-container {
  display: flex;
  flex-wrap: wrap;
}

#about .about-wrapper .right .count-box {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

#about .about-wrapper .right .count-box:first-child {
  border-width: 0 1px 1px 0;
  border-style: dashed;
  border-color: var(--white);
}

#about .about-wrapper .right .count-box:nth-child(2) {
  border-width: 0 0px 1px 0;
  border-style: dashed;
  border-color: var(--white);
}

#about .about-wrapper .right .count-box:nth-child(3) {
  border-width: 0 1px 0px 0;
  border-style: dashed;
  border-color: var(--white);
}

#about .about-wrapper .right .count-box h1 {
  font-size: clamp(48px, 5vw, 56px);
  color: var(--white);
}

/* Objectives */
#objectives .objectives-container {
  background-color: var(--white);
  color: var(--primary-color);
}

#objectives .objectives-subwrapper {
  display: flex;
  gap: 50px;
}

#objectives .objectives-subwrapper .left {
  flex: 1;
}

#objectives .objectives-subwrapper .left .image img {
  border-radius: 5px;
}

#objectives .objectives-subwrapper .right {
  flex: 1;
}

#objectives .accordion {
  border: 1px solid var(--white);
  border-radius: 5px;
  overflow: hidden;
}

#objectives .accordion-item {
  border-top: 1px solid #ddd;
}

#objectives .accordion-item:first-child {
  border-top: none;
}

#objectives .accordion-header {
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#objectives .accordion-header .icon {
  font-size: 20px;
  color: var(--primary-light-color);
}

#objectives .accordion-content {
  display: none;
  padding: 15px;
  background-color: var(--white);
  color: var(--primary-color);
}

/* What's new */
#whats-new .whats-new-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 60px;
  justify-content: center;
}

#whats-new .whats-new-box-container .whats-new-box {
  flex: 0 0 calc((100% - 50px) / 2);
  min-width: 250px;
  background: #04074680;
  padding: 50px 30px;
  border-radius: 5px;
}

#whats-new .whats-new-box-container .whats-new-box .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffffff1e;
  padding: 20px;
}

#whats-new .whats-new-box-container .whats-new-box img {
  object-fit: contain;
}

#whats-new .whats-new-box-container .whats-new-box h4 {
  font-size: 24px;
  margin: 15px 0 20px;
}

#whats-new .whats-new-box-container .whats-new-box p {
  color: #fefefef8;
}

/* Highlight */
#highlight .highlight-container {
  background: var(--white);
}
#highlight .highlight-container .slide-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#highlight .highlight-container .slide-container .slider {
  cursor: grab;
}

#highlight .highlight-container .slide-container .slider img {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #3e3c3c5d, inset -1px -1px 10px #31333653;
  object-position: top;
}

#highlight .highlight-container .slide-container .highlight-slider-1 img {
  height: 220px;
}
#highlight .highlight-container .slide-container .highlight-slider-2 img {
  height: 180px;
}
#highlight .highlight-container .slide-container .highlight-slider-3 img {
  height: 270px;
}

/* Partner */
#partner .partner-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 60px;
  justify-content: center;
}

#partner .partner-box-container .partner-box {
  flex: 0 0 calc((100% - 60px) / 3);
  min-width: 250px;
  background: #04074680;
  padding: 50px 30px;
  border-radius: 5px;
}

#partner .partner-box-container .partner-box .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffffff1e;
  padding: 20px;
}

#partner .partner-box-container .partner-box img {
  object-fit: contain;
}

#partner .partner-box-container .partner-box h4 {
  font-size: 24px;
  margin: 15px 0 20px;
}

#partner .partner-box-container .partner-box p {
  color: #fefefef8;
}

#partner .buttons {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* Speakers */
#speakers .speakers-container {
  background: linear-gradient(#05157ab9, #0f1a95b7),
    url(../assets/section-bg/hero1.png) no-repeat center/cover fixed;
}

#speakers .speakers-subwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
  text-align: center;
}

#speakers .speakers-subwrapper .speaker-box {
  flex: 0 0 calc((100% - 90px) / 4);
}

#speakers .speakers-subwrapper .speaker-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#speakers .speakers-subwrapper .speaker-box .speaker-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

#speakers .speakers-subwrapper .speaker-box .speaker-image img {
  object-position: top;
}

#speakers .speakers-subwrapper .speaker-box .speaker-info {
  padding: 20px;
}

#speakers .speakers-subwrapper .speaker-box .speaker-info .name {
  color: var(--primary-light-color);
}

#speakers .speakers-subwrapper .speaker-box .speaker-info .designation {
  line-height: 1.3;
  margin-top: 10px;
}

#speakers .speakers-subwrapper .speaker-box .speaker-info .company {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  margin-top: 5px;
}

/* Agenda */
#agenda .agenda-subwrapper {
  display: flex;
  gap: 50px;
}

#agenda .agenda-subwrapper .left {
  flex: 0 0 calc(60% - (50px / 2));
}

#agenda .agenda-subwrapper .left .agenda-item {
  min-height: 100vh;
  margin-bottom: 50px;
}

#agenda .agenda-subwrapper .left .agenda-item:last-child {
  min-height: auto;
  margin-bottom: calc(50% / 2);
}

#agenda .agenda-subwrapper .agenda-item .title {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--primary-light-color);
}

#agenda .agenda-subwrapper .agenda-item .description ul {
  list-style: square;
  padding-left: 20px;
}

#agenda .agenda-subwrapper .agenda-item .description ul li {
  margin-bottom: 20px;
}

#agenda .agenda-subwrapper .agenda-item .description ul li::marker {
  color: var(--primary-light-color);
}

#agenda .agenda-subwrapper .right {
  flex: 0 0 calc(40% - (50px / 2));
  position: relative;
}

#agenda .agenda-subwrapper .right .agenda-image {
  position: sticky;
  top: calc(50% - (600px / 2));
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
}

#agenda .agenda-subwrapper .right .agenda-image .overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

#agenda .agenda-subwrapper .right .agenda-image .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #00006040;
  height: 100%;
  width: 100%;
}

/* Who attends */
#who-attends .who-attends-container {
  background: #0611899c;
}

#who-attends .who-attends-subwrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin-top: 50px;
}

#who-attends .who-attends-subwrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #25078690,
    #050b8670,
    #07059850,
    transparent,
    transparent,
    transparent,
    transparent
  );
}

#who-attends .who-attends-subwrapper .slick-track {
  display: flex;
  align-items: center;
}

#who-attends .who-attends-subwrapper .slick-track img {
  margin: 0 10px;
  padding: 10px;
  height: 80px;
  border-radius: 10px;
  object-fit: contain;
  vertical-align: middle;
  background: var(--white);
}

/* Testimonial */
#testimonial .testimonial-subwrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

#testimonial .testimonial-subwrapper .left {
  flex: 1;
  display: flex;
  justify-content: center;
}

#testimonial .testimonial-subwrapper .left .image {
  position: relative;
  border-radius: 5px;
  /* overflow: hidden; */
  height: 350px;
  width: 250px;
  /* transform: skew(-20deg); */
  /* border: 3px solid var(--primary-light-color); */
}

#testimonial .testimonial-subwrapper .left .image .parallelogram {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
  width: 100%;
  border: 3px solid var(--primary-light-color);
  background: transparent;
  transform: skew(-20deg);
  z-index: -1;
  border-radius: 5px;
}

/* #testimonial .testimonial-subwrapper .left .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 3px solid var(--primary-light-color);
  transform: skew(-20deg);
  z-index: -1;
  border-radius: 5px;
} */

#testimonial .testimonial-subwrapper .left .image img {
  /* transform: skew(20deg) translateX(-200px); */
  /* width: 200%; */
  object-fit: contain;
  /* object-position: top center; */
}

#testimonial .testimonial-subwrapper .right {
  flex: 1;
}

#testimonial .testimonial-subwrapper .right .testimony {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.3;
}

#testimonial .testimonial-slides .slick-dots {
  position: relative;
  /* margin-top: 30px; */
  /* font-size: 0px; */
  /* padding-top: 20px; */
  /* width: 100%; */
}

#testimonial .testimonial-slides .slick-dots li {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid var(--primary-light-color);
  transition: ease all 0.55s;
  border-radius: 8px;
  margin: 0 4px;
}

#testimonial .testimonial-slides .slick-dots li.slick-active {
  background: var(--primary-light-color);
  width: 20px;
}

#testimonial .testimonial-slides .slick-dots li button {
  height: 0;
  width: 0;
  opacity: 0;
}

/* Contact */
#contact {
  background: linear-gradient(#000060e4, #000060d9),
    #0611899c url(../assets/section-img/1.jpg) no-repeat center/cover fixed;
    overflow: hidden;
}

#contact .contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

#contact .contact-wrapper h2 {
  font-size: clamp(24px, 3vw, 48px);
}

/* #contact .contact-wrapper .cct {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
} */

#contact .contact-wrapper p {
  font-size: 20px;
}

#contact .contact-wrapper p a {
  font-size: 18px;
  text-decoration: underline;
}

#contact .become {
  text-align: center;
}

/* More About Eventhive  */
#more-about .more-container {
  background: linear-gradient(#000060aa, #00006095),
    #0611899c url(../assets/section-bg/hero1.png) no-repeat center/cover;
  overflow: hidden;
}

#more-about {
  font-size: 16px;
}

#more-about .more-logo {
  margin-bottom: 30px;
}

#more-about .more-logo .logo {
  width: 100px;
}

#more-about p {
  margin-bottom: 10px;
}

#more-about .indus-cities h4 {
  margin-bottom: 5px;
}

#more-about .indus-cities {
  margin-bottom: 20px;
}

#more-about .indus-cities span {
  margin-right: 10px;
}

/* Footer */
/* #footer .footer-container {
  background-color: var(--secondary-color);
  color: white;
} */

#footer .footer-wrapper .top {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

#footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#footer .footer-wrapper .top .logo {
  flex: 1;
}

#footer .footer-wrapper .top .logo .logo-icon {
  max-width: 350px;
}

#footer .footer-wrapper .top .logo .logo-icon img {
  opacity: 0.3;
}

#footer .footer-wrapper .top :is(.quick-links, .socials) {
  flex: 1;
}

#footer .footer-wrapper .top .quick-links {
  display: flex;
  justify-content: center;
}

#footer .footer-wrapper .top .quick-links ul li a {
  transition: all 0.3s ease-in-out;
}

#footer .footer-wrapper .top .quick-links ul li a:hover {
  color: var(--primary-light-color);
}

#footer .footer-wrapper .top .socials ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#footer .footer-wrapper .top .socials ul li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #776f6f26;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

#footer .footer-wrapper .top .socials ul li a:hover {
  background: var(--primary-light-color);
}

#footer .footer-wrapper .center .timer {
  font-size: clamp(40px, 3vw, 60px);
  font-weight: 900;
  text-align: center;
  opacity: 0.3;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

#footer .footer-wrapper .divider {
  height: 1px;
  width: 100%;
  background: #ffffff35;
}

#footer .footer-wrapper .bottom {
  text-align: center;
}
