/* Container style */
.container {
  width: 95%;
  max-width: 95%;
  /* padding-inline: 15px; */
  margin-inline: auto;

  @media (min-width: 1580px) {
    /* .container { */
    width: 90%;
    max-width: 90%;
    /* } */
  }
}

/* Padding */
.padding {
  /* padding: 68px 0; */
  padding: 80px 0;
}

/* Layout helpers */
.grid {
  display: grid;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-6 {
  gap: 48px;
}

.gap-4 {
  gap: 32px;
}

/* Section Header */
.section-header {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 36px;
}

.text-sec {
  color: var(--secondary);
}

/* Button */
.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-primary:hover {
  background: #023a84cc;
}

.btn-outline {
  background: transparent;
  border-color: var(--secondary);
  /* color: #bfe0ff; */
}

.btn-outline:hover {
  background: var(--secondary);
}

/* Image overlays */
.overlay {
  position: absolute;
  inset: 0;
  background: #00000040;
}

.image {
  border-radius: 8px;
  overflow: clip;
  position: relative;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
/* .section {
  padding: 80px 0;
} */
/* .center {
  text-align: center;
} */
/* .bg-deep {
  background: #08102b;
} */
/* .bg-soft {
  background: var(--bg-soft);
} */
/* .bg-light {
  background: #101e50;
} */
/* .bg-texture {
  background: radial-gradient(
    1200px 600px at 20% -10%,
    #1b2a70 0%,
    transparent 60%
  );
} */
/* .bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* .visual {
  min-height: 320px;
} */

/* .rounded {
  border-radius: var(--radius);
}
.shadow {
  box-shadow: var(--shadow);
} */
