/* Container style */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 566px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 982px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

/* Section Padding */
.padding {
  padding: 100px 0;
}

/* External container */
.external-container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 962px) {
  .padding {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  .padding {
    padding: 60px 0;
  }

  .external-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Button */
.btn {
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.btn-sec {
  border: 2px solid var(--black);
  background: var(--white);
  color: var(--black);
}

.btn-pry {
  border: 2px solid var(--black);
  background: var(--black);
  color: var(--white);
}

.get-ticket-btn {
  cursor: pointer;
}

/* Section header */
.section-header {
  width: 70%;
  margin-bottom: 30px;
  /* margin: auto; */
}

.section-header .tiny-header span {
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  background: #e3e3e3;
  letter-spacing: 1px;
  border-radius: 20px;
}

.section-header .big-header h2 {
  margin: 20px 0 0;
  font-size: clamp(24px, 3vw, 48px);
  font-weight: 500;
}

.section-header.white h2 {
  color: var(--white);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
