/* Container style */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 566px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 982px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 90%;
  }
}

/* Section Padding */
.padding {
  padding: 100px 0;
}

@media screen and (max-width: 962px) {
  .padding {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  .padding {
    padding: 60px 0;
  }
}

/* Button */
.btn {
  border: none;
  border-radius: 5px;
  padding: 18px 48px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-pry {
  background: var(--primary-light-color);
}

.btn-sec {
  border: 2px solid var(--primary-light-color);
}

.btn-pry:hover,
.btn-sec:hover {
  background: #109fe1;
  transform: translateY(-3px);
}

/* Section header */
.section-heading {
  margin-bottom: 48px;
}

.section-heading .small {
  margin-bottom: 10px;
}

.section-heading .small .dash {
  color: var(--primary-light-color);
}

.section-heading h2 {
  font-size: clamp(24px, 3vw, 40px);
}

.section-heading.white {
  color: var(--primary-color);
}

/* Utilities */
.text-light {
  color: var(--primary-light-color);
}
