/* Container style */
.container {
  width: 95%;
  max-width: 95%;
  /* padding-inline: 15px; */
  margin-inline: auto;

  @media (min-width: 1580px) {
    /* .container { */
    width: 90%;
    max-width: 90%;
    /* } */
  }
}

/* Padding */
.padding {
  padding: 68px 0;
}
.inner-container {
  width: 100%;
  max-width: 100%;
  padding-inline: 16px;

  @media (min-width: 640px) {
    padding-inline: 24px;
  }

  @media (min-width: 1024px) {
    padding-inline: 32px;
  }
}

.el-container {
  padding-inline: 15px;

  @media (min-width: 640px) {
    padding-inline: 24px;
  }

  @media (min-width: 1024px) {
    padding-inline: 32px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 40px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: calc(var(--radius) * 3);
  z-index: 1;

  /* &:hover {
    transform: translateY(-2px);
  } */

  span {
    position: relative;
    display: inline-block;
    z-index: 50;
  }

  &.btn-pry {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-color: var(--primary-hover-color);
      transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: -1;
    }

    &:hover {
      color: #fff;
      /* border-color: var(--primary-hover-color); */

      &::before {
        top: 0;
        height: 100%;
      }
    }
    /* &:focus {
      color: var(--primary-hover-color);
      outline: none;
    } */
  }

  &.btn-sec {
    background: var(--white);
    background: var(--white);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-color: var(--primary-hover-color);
      transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: -1;
    }

    &:hover {
      /* color: #fff; */
      /* border-color: var(--primary-hover-color); */

      &::before {
        top: 0;
        height: 100%;
      }
    }
  }
}

/* Section Header */
.section-header {
  text-align: center;
  /* margin-bottom: 36px; */
  max-width: 80%;
  margin: 0 auto 36px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  .section-badge {
    /* display: inline-block; */
    display: none;
    background: #4a90e226;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
    backdrop-filter: blur(24px);
  }

  .section-title {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-weight: 700;
    color: var(--primary-color);
  }

  &.dark {
    .section-badge {
      background: rgb(52, 52, 103);
      border-color: var(--white);
      color: var(--white);
    }

    .section-title {
      color: var(--white);
    }
  }

  /* .section-subtitle {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    margin: 0 auto;
    animation: fadeInUp 0.8s ease-out 0.4s both;
  } */
}

.bg-dark {
  background: var(--black);
  color: var(--white);
}

*.bg-fixed {
  background-attachment: fixed !important;

  /* @media only screen and (max-width: 640px) {
    background-attachment: scroll;
  } */
}

.dark-divider {
  width: 100%;
  height: 1px;
  background: #000000dd;
}

.radius {
  border-radius: calc(var(--radius) * 8);
}

.p-block {
  padding-block: 48px;
}

.sm {
  display: none;
  color: var(--white);
  background: var(--primary-color);
  border-radius: calc(var(--radius) * 3);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    iconify-icon {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 568px) {
    display: flex;
  }
}

.lg {
  @media screen and (max-width: 568px) {
    display: none;
  }
}

.md {
  @media screen and (min-width: 569px) {
    display: none;
  }
}

.o-hidden {
  overflow: clip;
}
